.alert-danger {
  background-color: map-get($theme-colors, "danger");
  border-color: darken(map-get($theme-colors, "danger"), 10%);
  color:$white;
}
.alert-success {
  background-color: $olive;
  border-color: darken($green, 10%);
}
.alert-info {
  background-color: map-get($theme-colors, "info");
  border-color:darken(map-get($theme-colors, "info"), 10%);
  color: $white;
}
