.flash {
  background: $black;
  color: $white;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
}
.cssanimations.csstransforms .flash {
  transform: translateY(-50px);
  animation: slideDown 2.5s 1.0s 1 ease forwards;
}

@-webkit-keyframes slideDown {
  0%, 100% { -webkit-transform: translateY(-50px); }
  10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
  0%, 100% { -moz-transform: translateY(-50px); }
  10%, 90% { -moz-transform: translateY(0px); }
}
