.table-outline {
  border: 1px solid $table-border-color;

  td {
    vertical-align: middle;
  }
}

.table {
  &.table-striped {
    td {
      border-top: 0 none;
    }
  }
  &.table-bordered {
    thead th {
      border-color: $border-color;
      border-width: 1px;
    }
    thead tr:first-child {
      th {
        border-top: 0 none;
      }

    }
  }
  &:not(.table-bordered) {
    thead th {
      border: 0 none;
    }
  }
}

.table-align-middle {

  td {
    vertical-align: middle;
  }
}

.table-clear {
  td {
    border: 0;
  }
}
