// Bootstrap overrides

//
// Color system
//

$white:                           #fff;
$gray-100:                        #f0f3f5;
$gray-200:                        #c2cfd6;
$gray-300:                        #a4b7c1;
$gray-400:                        #869fac;
$gray-500:                        #678898;
$gray-600:                        #536c79;
$gray-700:                        #3e515b;
$gray-800:                        #29363d;
$gray-900:                        #151b1e;
$black:                           #000 !default;

$blue:                            #2692f9;
$indigo:                          #6610f2 !default;
$purple:                          #6f42c1 !default;
$pink:                            #e83e8c !default;
$red:                             #f86c6b;
$orange:                          #f8cb00;
$yellow:                          #ffc107 !default;
$olive:                           #C1E969;
$green:                           #4dbd74;
$teal:                            #008080 !default;
$cyan:                            #63c2de;

$colors: (
  blue:                           $blue,
  indigo:                         $indigo,
  purple:                         $purple,
  pink:                           $pink,
  red:                            $red,
  orange:                         $orange,
  yellow:                         $yellow,
  green:                          $green,
  teal:                           $teal,
  cyan:                           $cyan,
  white:                          $white,
  gray:                           $gray-600,
  gray-dark:                      $gray-800
);

$theme-colors: (
  primary:                        $green,
  secondary:                      $shade-700,
  success:                        $green,
  info:                           $blue,
  warning:                        $yellow,
  danger:                         $red,
  light:                          $gray-100,
  dark:                           $gray-800
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-transitions:              true;
$enable-rounded:                  true;
$enable-shadows:                  true;
$enable-gradients:                false;

// Body
//
// Settings for the `<body>` element.

$body-bg:                         $green;
$body-color:                      #333333;
$border-color:                    $shade-400;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base:                  0.875rem;

// Links

$link-color:                  darken(map_get($theme-colors, "primary"), 15%) !default;
$text-muted:                  $shade-600;

// Breadcrumbs

$breadcrumb-bg:                   #fff;
$breadcrumb-margin-bottom:        1.5rem;

// Cards

$card-border-color:               $border-color;
$card-cap-bg:                     $shade-300;

// Dropdowns

$dropdown-padding-y:              0;
$dropdown-border-color:           $border-color;
$dropdown-divider-bg:             $gray-100;
$dropdown-box-shadow:             0 5px 25px 0 rgba(123,123,123,.15);
$dropdown-link-hover-bg:          $shade-100;
$dropdown-divider-bg:             lighten($border-color, 5%);
$dropdown-padding-y:              0;

// Buttons

$btn-secondary-border:            $gray-300;

// Progress bars

$progress-bg:                     $gray-100;

// Tables

$table-accent-bg:                 $shade-100;
$table-head-bg:                   $shade-200;
$table-head-color:                $shade-700;

// Forms

$input-group-addon-bg:            $shade-200;
$input-group-addon-color:         $shade-700;
$input-border-color:              $border-color;
$input-group-addon-border-color:  $border-color;
$input-btn-focus-color:           rgba($border-color, .5) !default;
$input-focus-border-color:        $border-color;


// Pagination
$pagination-border-color:         $border-color;
$pagination-hover-bg:             $shade-200;
$pagination-hover-border-color:   $border-color;
$pagination-color:                $shade-700;
$pagination-hover-color:          $pagination-color;
$pagination-bg:                   $shade-100;

// Navs
$nav-tabs-link-hover-border-color:  $border-color;
