// Here you can add other styles
.app-header.navbar {
  padding-right: 1em;
  .navbar-brand {
    text-align: center;
    transition: all .3s ease;
    padding: 0;
    line-height: 55px;
  }
}
@include media-breakpoint-up(lg) {
  .brand-minimized {
    .app-header.navbar {
      .navbar-brand {
        margin-left: -200px;
      }
    }
  }
}
